<div id="stat-block-wrapper">
            <div id="stat-block" class="stat-block">
                <hr class="orange-border" />
                    <div class="section-left">
                        <div class="creature-heading">
                            <h1 id="monster-name">{{name}}</h1>
                            <h2 id="monster-type">{{typeString}}</h2>
                        </div> <!-- creature heading -->
                        <svg height="5" width="100%" class="tapered-rule">
                            <polyline points="0,0 400,2.5 0,5"></polyline>
                        </svg>
                        <div class="top-stats">
                            <div class="property-line first">
                                <h4>Armor Class</h4>
                                <p id="armor-class">{{acText}}</p>
                            </div> <!-- property line -->
                            <div class="property-line">
                                <h4>Hit Points</h4>
                                <p id="hit-points">{{hpText}}</p>
                            </div> <!-- property line -->
                            <div class="property-line last">
                                <h4>Speed</h4>
                                <p id="speed">{{speedString}}</p>
                            </div> <!-- property line -->
                            <svg height="5" width="100%" class="tapered-rule">
                                <polyline points="0,0 400,2.5 0,5"></polyline>
                            </svg>
                            <div class="scores">
                                <div class="scores-strength">
                                    <h4>STR</h4>
                                    <p id="strpts">{{strPoints}}</p>
                                </div> <!-- scores strength -->
                                <div class="scores-dexterity">
                                    <h4>DEX</h4>
                                    <p id="dexpts">{{dexPoints}}</p>
                                </div> <!-- scores dexterity -->
                                <div class="scores-constitution">
                                    <h4>CON</h4>
                                    <p id="conpts">{{conPoints}}</p>
                                </div> <!-- scores constitution -->
                                <div class="scores-intelligence">
                                    <h4>INT</h4>
                                    <p id="intpts">{{intPoints}}</p>
                                </div> <!-- scores intelligence -->
                                <div class="scores-wisdom">
                                    <h4>WIS</h4>
                                    <p id="wispts">{{wisPoints}}</p>
                                </div> <!-- scores wisdom -->
                                <div class="scores-charisma">
                                    <h4>CHA</h4>
                                    <p id="chapts">{{chaPoints}}</p>
                                </div> <!-- scores charisma -->
                            </div> <!-- scores -->
                            <svg height="5" width="100%" class="tapered-rule">
                                <polyline points="0,0 400,2.5 0,5"></polyline>
                            </svg>
                            <div id="properties-list">
                                <div class="property-line first">
                                    <div>
                                        <h4>Senses</h4>
                                        <p id="senses">{{sensesString}}</p> <!--Senses would go here-->
                                    </div>
                                </div>
                                <div class="property-line">
                                    <div>
                                        <h4 id="languages">Languages</h4>
                                        <p>—</p>
                                    </div>
                                </div>
                                <div class="property-line last">
                                    <h4>Challenge</h4>
                                    <p id="challenge-rating">{{cr}}</p>
                                </div>
                            </div>
                            <svg height="5" width="100%" class="tapered-rule">
                                <polyline points="0,0 400,2.5 0,5"></polyline>
                            </svg>
                        </div>
                    </div>
                    <hr class="orange-border bottom" />
                </div>
            </div>
        </div>